@import '../../styles/_variables.scss';

.socialLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;

  @media screen and (min-width: $tablet) {
    gap: 16px;
  }

  @media screen and (min-width: $desktop) {
    gap: 24px;
  }
}

.socialItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  column-gap: 8px;

  @media screen and (min-width: $desktop) {
    column-gap: 12px;
  }
}

.socialIcon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  & svg {
    width: 18px;
    height: 18px;
    fill: transparent;
    stroke: $Secondary-800;
    z-index: 1;
    @media screen and (min-width: $desktop) {
      width: 23px;
      height: 23px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 22px;
    height: 22px;

    border-radius: 50%;
    box-shadow: 2px 2px 4px 0 rgba(69, 73, 67, 0.25);
    background-color: $Primary-500;

    @media screen and (min-width: $mobile) {
      width: 24px;
      height: 24px;
    }

    @media screen and (min-width: $desktop) {
      width: 32px;
      height: 32px;
      border-radius: 12px;
    }
  }

  &:hover::before {
    box-shadow: none;
  }
}

.phone {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
    font-family: inherit;

    font-family: GothamProBold, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.6;
    color: $Secondary-800;
  }

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.7;
  }
}
