@import '@/styles/_variables.scss';

.langSwitcherContainer {
  @media screen and (min-width: $desktop) {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.langTitle {
  display: none;

  @media screen and (min-width: $desktop) {
    position: relative;
    display: block;
    font-family: GothamPro, sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.7;
    color: $Gray-0;
    box-shadow: 2px 2px 4px 0 rgba(69, 73, 67, 0.25);
    background: $Secondary-800;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 12px;
    padding: 2px 4px;
    z-index: 10;
  }
}

.langSwitcherOpen {
  @media screen and (min-width: $desktop) {
    background-color: $Primary-500;
    transform: translateY(45%);
    opacity: 1;
  }
}

.langSwitcherClose {
  @media screen and (min-width: $desktop) {
    background-color: transparent;
    transform: translateY(-20%);
    overflow: hidden;
    opacity: 0;
    height: 0;
  }
}

.langSwitcher {
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 16px;
  height: 30px;
  background-color: $Primary-500;
  border-radius: 12px;
  padding: 0px 8px;

  @media screen and (min-width: $desktop) {
    position: absolute;
    bottom: -40px;
    flex-direction: column;
    height: inherit;
    border-radius: 12px;
    padding: 25px 3px 2px 3px;
    row-gap: 6px;
  }
}

.langSwitcherItem {
  font-family: GothamPro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $Secondary-800;
  cursor: pointer;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.7;
  }
}

.langSwitcherActive {
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: -6px;
    right: -8px;

    font-family: GothamPro, sans-serif;
    width: 50px;
    height: 31px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    background-color: $Secondary-800;
    color: $Gray-0;
    border-radius: 12px;

    z-index: -1;
  }
}
