@import "../../styles/variables";

.container {
  width: 100%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  // margin: 0 auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  margin-bottom: 12px;

  @media screen and (min-width: $tablet) {
    height: 16px;
    width: 352px;
    margin-left: calc((100% - 450px - 112px) / 2);
    margin-bottom: 0;
  }
  @media screen and (min-width: $desktop) {
    width: 382px;
  }
}
