@import "../../styles/_variables.scss";

.oneRooms {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 4px;
  background-color: $Primary-50;
  box-shadow: 2px 2px 4px 0px rgba(69, 73, 67, 0.25);

  padding: 8px;
  width: 100%;
  border-radius: 8px;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;

  @media screen and (min-width: $tablet) {
    height: 232px;
  }

  @media screen and (min-width: $desktop) {
    height: 220px;
  }
}

.img {
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 8px;
}

.codeImg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: left;
  color: $Primary50;
  font-size: 14px;
  font-weight: 400;
  background-color: $Primary900;
  padding-left: 8px;
}

.apartContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 4px;

  align-items: center;
}

.addressRooms {
  color: $Primary900;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  margin-right: auto;
  line-height: 20.4px;
  // font-family: Gotham Pro;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 23.8px;
  }
}

.address {
  color: $Primary900;
  font-size: 12px;
  font-weight: 400;
  text-overflow: ellipsis;
  // white-space: nowrap;
  overflow: hidden;
  margin-right: auto;
  line-height: 20.4px;
  // font-family: Gotham Pro;
}

.bottomContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  row-gap: 4px;

  height: 100%;
}
.complexContainer {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.homeImg {
  // display: flex;
  // flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  margin-right: 2px;
  min-width: 24px;
}

.priceRooms {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: $Primary900;
  // font-family: Gotham Pro;
  font-size: 12px;
  font-weight: 400;
  line-height: 20.4px;

  margin-right: auto;

  @media screen and (min-width: $desktop) {
    font-size: 14px;
    line-height: 23.8px;
  }
}

.codeRooms {
  color: $accentColor;
  font-size: 13px;
  font-weight: 400;
}

.bedContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bedImg {
  position: relative;
  width: 24px;
  height: 24px;
}

.bedsQuantity {
  color: $accentColor;
  // font-family: "Crimson Text";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.4px;
  margin-right: 4px;
}

.btnRooms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 48px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: $Secondary-800;
  box-shadow: 2px 2px 4px 0px rgba(69, 73, 67, 0.25);
  cursor: pointer;
  outline: none;
  border-radius: 8px;
  border: 1px solid $Secondary-800;
  color: $Gray-0;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;

  &:hover,
  &:focus {
    background-color: $Primary-50;
    color: $Secondary-800;
  }

  margin-left: auto;
  margin-top: auto;
}
