$mobile: "360px";
$tablet: "768px";
$desktop: "1366px";
//old styles
$Primary900: #131112;
$Primary800: #333132;
$Primary600: #646263;
$Primary400: #acaaab;
$Primary300: #d1cfd0;
$Primary100: #efedee;
$Primary50: #f9f6f8;
$SecondaryColor: #f6f6f4;
$Error: #a20b0b;
$Warning: #ffc400;
$Success: #00793c;
$System: #2320c6;
$lightFontColor: #ffffff;
$accentColor: #373737;
$dashboardBtnBgColor: #f1d889;
$dashboardHoverBtnBgColor: #f1b806;

// before this line - Daily Rent Kiev. After this - Sofia Rent

//new styles
$Primary-900: #616c46;
$Primary-800: #838e55;
$Primary-700: #97a25d;
$Primary-600: #acb668;
$Primary-500: #bdc671;
$Primary-400: #c6ce85;
$Primary-300: #d1d79a;
$Primary-200: #dee3b6;
$Primary-100: #ebeed1;
$Primary-50: #f7f8ed;

$Secondary-800: #454943;

// old variables are commented
// $Primary900: #131112;
$Gray-900: #131112;
// $Primary800: #333132;
$Gray-800: #333132;
$Gray-700: #514f50;
// $Primary600: #646263;
$Gray-600: #646263;
$Gray-500: #8b898a;
// $Primary400: #acaaab;
$Gray-400: #acaaab;
$Gray-300: #d1cfd0;
$Gray-200: #e3e1e2;
$Gray-100: #efedee;
// $Primary50: #f9f6f8;
$Gray-50: #f9f6f8;
$Gray-0: #ffffff;

$Error: #a20b0b;
$Warning: #ffc400;
$Success: #00793c;
$System: #2320c6;
