$mobile: '360px';
$tablet: '768px';
$desktop: '1366px';

//Primary Color

$Primary900: #131112;
$Primary800: #333132;
$Primary600: #646263;
$Primary400: #acaaab;
$Primary300: #d1cfd0;
$Primary100: #efedee;
$Primary50: #f9f6f8;

//Secondary Color

$SecondaryColor: #f6f6f4;

//Alerts Color

$Error: #a20b0b;
$Warning: #ffc400;
$Success: #00793c;
$System: #2320c6;

$lightFontColor: #ffffff;
$accentColor: #373737;
$dashboardBtnBgColor: #f1d889;
$dashboardHoverBtnBgColor: #f1b806;