@import '../../styles/_variables.scss';

.container {
  cursor: pointer;

  & svg {
    width: 85px;
    height: 32px;
    @media screen and (min-width: $tablet) {
      width: 88px;
    }
    @media screen and (min-width: $desktop) {
      width: 212px;
      height: 56px;
    }
  }
}
