@import '../../styles/_variables.scss';

.container {
  display: block;
  position: relative;
  width: 85px;
  height: 32px;

  & img {
    object-fit: contain;
  }

  @media screen and (min-width: $tablet) {
    width: 88px;
  }

  @media screen and (min-width: $desktop) {
    width: 212px;
    height: 56px;
  }
}