@import "@/styles/_variables.scss";

.breadCrumbsWrapper {
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 8px;
  }
}

.rulesTitle {
  font-size: 26px;
  line-height: 1.25;
  margin-bottom: 12px;

  @media (min-width: $tablet) {
    margin-bottom: 16px;
  }

  @media (min-width: $desktop) {
    font-size: 40px;
    line-height: 1;
  }
}

.block{
  padding:12px;
  border-radius:12px;
  background-color:$Primary-800;
  color:$Gray-0;
}

.block:not(:last-child) {
  margin-bottom: 12px; 

  @media (min-width: $desktop) {
    margin-bottom: 16px;
  }
}

.blockTitle {
  font-family: GothamProBold, sans-serif;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 12px;
}

.blockList {
  list-style: decimal;
  font-size: 20px;
  line-height: 1.7;
}

.blockList>li {
  margin-left: 20px;

  @media (min-width: $mobile) {
  margin-left: 28px;
  }

  @media (min-width: $tablet) {
    margin-left: 32px;
  }
}