@import "../../styles/_variables.scss";

.button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 20px;
    width: 138px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    border-radius: 100px;
    border: 0.5px solid $Primary800;
    background: $Primary800;
    box-shadow: 4px 4px 8px 0px #f6f6f440;

    color: $Primary50;
    font-family: var(--font--lato);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25.6px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    cursor: pointer;

    &:hover {
        background: $Primary50;
        border-color: $Primary900;
        color: $Primary900;
        -webkit-transition-duration: 500ms;
        -o-transition-duration: 500ms;
        transition-duration: 500ms;
        cursor: pointer;
    }

    @media screen and (min-width: $tablet) {
        width: 216px;
        padding: 8px 58px;
        border-radius: 24px;
        border-width: 1px;
    }

    @media screen and (min-width: $desktop) {
        width: 220px;
        padding: 12px 48px;
        font-size: 20px;
        line-height: 34px;
    }
}