@import "../../../styles/variables";

.filterContainer {
  height: 24px;
  max-width: 116px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  // @media screen and (min-width: $tablet) {
  //   position: absolute;
  //   top: 50%;
  //   right: 50%;
  //   -webkit-transform: translate(50%, -60%);
  //   -ms-transform: translate(50%, -60%);
  //   transform: translate(50%, -60%);
  // }
  background-color: $Primary-50;
}

.filterBtnContainer {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  column-gap: 16px;

  &:hover > .filterSvg {
    stroke: $Primary-900;
  }

  &:hover > .filter {
    color: $Primary-900;
  }
}

.filterSvg {
  width: 24px;
  height: 24px;
  stroke: $Secondary-800;
}

.filter {
  color: $Secondary-800;
  // font-family: var(--font--lato);
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
}
