.ItemSliderTop {
  width: 100%;
  aspect-ratio: 296 / 164;
}

.ItemSliderTop .swiper-slide {
  width: 300px;
  height: 300px;
  height: 100%;
}

.ItemSliderTop .swiper-slide img {
  object-fit: cover;
  object-position: center;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: none;
  -o-transform: translate3d(0, 0, 0);
  transform: none;
}

.ItemSliderTop .swiper-slide .price {
  position:absolute;
  left:2px;
  bottom:2px;
  padding: 4px 8px;
  border-radius:12px;
  background-color:#ffffff;
  font-family:GothamProBold, sans-serif;
  font-weight:700;
  line-height:1.6;
}

.ItemSliderTop .swiper-button-prev,
.ItemSliderTop .swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 24px;
  height: 24px;
  color: transparent;
  bottom: 8px;
  top: auto;
}

.ItemSliderTop .swiper-button-prev::after,
.ItemSliderTop .swiper-button-next::after {
  width: 100%;
}

.ItemSliderTop .swiper-button-prev {
  background-image: url("../../../../public/webp/schevron_left.webp");
  left: 50%;
  transform: translateX(-75px);
}

.ItemSliderTop .swiper-button-next {
  background-image: url("../../../../public/webp/schevron_right.webp");
  left: 50%;
  transform: translateX(50px);
}

.ItemSliderTop .swiper-pagination {
  bottom: 14px;
}

.ItemSliderTop .swiper-pagination-bullet {
  background-color: rgba(249, 246, 248, 1);
  width: 12px;
  height: 12px;
}

.ItemSliderTop .swiper-pagination-bullet-active-prev,
.ItemSliderTop .swiper-pagination-bullet-active-next,
.ItemSliderTop .swiper-pagination-bullet-active-prev-prev,
.ItemSliderTop .swiper-pagination-bullet-active-next-next {
  opacity: 1;
}


@media screen and (min-width: 768px) {
  .ItemSliderTop {
      aspect-ratio: 688 / 382;
  }

  .ItemSliderTop .swiper-slide .price {
    left:12px;
    bottom:12px;
    padding: 12px 20px;
    font-size:20px;
    line-height:1.4;
  }

  .ItemSliderTop .swiper-pagination {
    bottom: 40px;
  }

  .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    bottom: 34px;
  }
}


@media screen and (min-width: 1366px) {
  .ItemSliderTop {
    aspect-ratio: 1222 / 680;
    max-height: 630px;
  }

  .ItemSliderTop .swiper-slide .price {
    left:16px;
    bottom:16px;
    font-size:26px;
  }

  .ItemSliderTop .swiper-button-prev,
  .ItemSliderTop .swiper-button-next {
    bottom: 14px;
  }

  .ItemSliderTop .swiper-pagination {
    bottom: 20px;
  }
}