@import "../../../styles/variables";

.propositionContainer {
  width: 100%;

  @media screen and (min-width: $tablet) {
    max-width: 740px;
  }
}

.propositionList {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 20px;

  @media screen and (min-width: $tablet) {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 56px;
  }

  @media screen and (min-width: $desktop) {
    grid-column-gap: 24px;
  }
}

.propositionItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 24px;
  line-height: 1.6;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.7;
  }
}

.imgSvgContainer {
  position: relative;
  width: 24px;
  height: 24px;
}

.imgSvg {
  -o-object-fit: cover;
  object-fit: cover;
}