@import "../../../styles/variables";

.filterRoom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: flex-end;
  -webkit-column-gap: 8px;
  -moz-column-gap: 8px;
  column-gap: 8px;

  @media screen and (min-width: $tablet) {
    -webkit-column-gap: 16px;
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}

.filterRoomText {
  @media (min-width: 320px) and (max-width: 359px) {
    font-size: 14px;
  }

  color: $Primary-900;
  // font-family: var(--font--lato);
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;

  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 34px;
  }
}

.filterInputCheckbox {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  color: $Gray-100;
  // border-radius: 50px;

  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;

  &::after {
    position: absolute;
    content: "";
    // width: 24px;
    // height: 24px;
    border: 1px $Primary-900 solid;

    color: $Primary-900;
  }
}

.filterInputCheckbox__Checked {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  // border-radius: 50px;

  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  // background: $Primary600;

  &::after {
    position: absolute;
    content: "";
    // width: 24px;
    // height: 24px;
    border: 1px $Primary-900 solid;
    background-color: $Gray-100;
    color: $Primary-900;
  }
}

.checkbox {
  position: absolute;
  opacity: 0;
  height: max-content;
}

.blogCheckboxDesc {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  color: $Gray-900;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  column-gap: 4px;
  position: relative;

  &::before {
    content: "";
    display: block;
    border-radius: 1px;
    width: 24px;
    height: 24px;
    border: double 1px $Primary-900;
    background-image: linear-gradient($Gray-100, $Gray-100);
    //   $gradient;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
  }

  @media screen and (min-width: $tablet) {
    font-size: 20px;
    column-gap: 10px;
  }
}

.checked {
  position: absolute;
  top: 45%;
  left: 2%;
  transform: translateY(-45%);
  width: 24px;
  height: 24px;
  stroke: $Primary-900;
  fill: $Primary-900;
}

.checkedOff {
  opacity: 0;
  z-index: -1;
}

.checkedOn {
  opacity: 1;
  z-index: 0;
}
